<div class="custom-field">
  <!-- El label ahora es estático y siempre visible arriba -->
  <label
    [for]="controlName"
    class="static-label"
    [class.active]="formControl.value || isFocused">
    {{ label }}
  </label>

  <input
    class="custom-input"
    [placeholder]="placeholder"
    [type]="type"
    [id]="controlName"
    [readonly]="readonly"
    [formControl]="formControl"
    [name]="controlName"
    autocomplete="off"
    (focus)="onFocus()"
    (blur)="onBlur()" />

  <!-- Barra animada opcional para un efecto "wow" extra -->
  <span class="focus-border"></span>
</div>

<div
  *ngIf="
    formControl.invalid &&
    (formControl.dirty || formControl.touched || submitted)
  "
  class="mt-1">
  <small class="p-error block" *ngIf="formControl.errors?.['required']">
    El campo {{ label }} es requerido
  </small>
</div>
