<div class="custom-field">
  <label
    [for]="controlName"
    class="static-label"
    [class.active]="formControl.value !== null || isFocused">
    {{ label }}
  </label>

  <!-- p-inputNumber maneja el modelo como número (decimal) automáticamente -->
  <p-inputNumber
    class="custom-input-wrapper"
    [formControl]="formControl"
    [inputId]="controlName"
    mode="currency"
    currency="PEN"
    locale="es-PE"
    [minFractionDigits]="2"
    [maxFractionDigits]="2"
    [readonly]="readonly"
    autocomplete="off"
    (onFocus)="onFocus()"
    (onBlur)="onBlur()">
  </p-inputNumber>

  <span class="focus-border"></span>
</div>

<div
  *ngIf="
    formControl.invalid &&
    (formControl.dirty || formControl.touched || submitted)
  "
  class="mt-1">
  <small class="p-error block" *ngIf="formControl.errors?.['required']">
    El campo {{ label }} es requerido
  </small>
</div>
