::ng-deep {
  .btn-menu {
    background-color: #dfe3e8;
    border: 1px solid #dfe3e8;
    color: #475569;
    border-radius: 5px;
    height: 39px;
  }
  .btn-selected {
    background-color: #75787b;
    color: #fff;
  }

  .dialog-custom-form {
    width: 30% !important;
    height: auto !important;
  }

  .dialog-custom-assign {
    width: 15% !important;
    height: auto !important;
  }

  @media (max-width: 480px) {
    .dialog-custom-form {
        width: 70% !important;
        height: auto !important;
    }

    .dialog-custom-assign {
        width: 70% !important;
        height: auto !important;
    }
  }
}
