<span class="p-float-label mb-4 w-full" [formGroup]="formGroup">
  <input
    pInputText
    class="float"
    [placeholder]="placeholder"
    [type]="type"
    [id]="id"
    [readonly]="readonly"
    formControlName="size" />
  <span
    class="clear-icon"
    *ngIf="formGroup.get('size')?.value"
    (click)="clearFilter()">
    <i class="pi pi-times" style="font-size: 12px"></i>
  </span>
  <label [for]="id">{{ label }}</label>

  @if (collection.length > 0) {
    <div class="dropdown-panel">
      <ul>
        @for (item of collection; track $index) {
          <li class="dropdown-items" (click)="getSelecteditem(item)">
            {{ item.value }}
          </li>
        }
      </ul>
    </div>
  }
</span>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '18vw' }"></p-confirmDialog>
