::ng-deep {
  p-dialog .flex.flex-column.gap-3.pt-2 {
    .p-button {
      color: #ffffff;
      background: #689f38;
      border: 1px solid #689f38;
    }
    .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext,
    .p-inputtext:enabled:focus,
    .p-dropdown:not(.p-disabled).p-focus {
      box-shadow: 0 0 0 0.2rem #689f3826;
      border-color: #689f38;
    }
    .p-inputtext:enabled:hover,
    .p-dropdown:not(.p-dropdown-disabled):hover {
      border-color: #689f38;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
      background: #689f3826;
    }

    .p-dropdown-panel
      .p-dropdown-items
      .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
      color: #69707a;
      background: #689f3826;
    }
  }
  .h-custom{
    height: 49px;
  }
}
