.shadow-top {
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.08);
}
.fadein-animation {
  animation: fadein 0.3s ease-out;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.position-custom {
  top: 30%;
  padding-left: 10px;
}
