.w-custom {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .w-custom {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.btn-menu {
  background-color: #dfe3e8;
  border: 1px solid #dfe3e8;
  color: #475569;
  border-radius: 5px;
  height: 39px;
}
.btn-menu-back {
  background-color: #ffb340;
  border: 1px solid #ffb340;
  color: #000;
  border-radius: 5px;
  height: 39px;
}
::ng-deep {
  .dialog-custom-form {
    width: 30% !important;
    height: auto !important;
  }

  .dialog-custom-assign {
    width: 15% !important;
    height: auto !important;
  }

  @media (max-width: 480px) {
    .dialog-custom-form {
        width: 70% !important;
        height: auto !important;
    }

    .dialog-custom-assign {
        width: 70% !important;
        height: auto !important;
    }
  }
}
