@if (form) {
  <form [formGroup]="form" class="col-12 mt-0">
    <div class="w-full">
      <div
        class="flex justify-content-center md:justify-content-end gap-2 mb-3">
        <div class="flex flex-wrap justify-content-center gap-2">
          <button
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-save"
            severity="secondary"
            class="btn-menu w-9rem"
            size="small"
            (click)="saveProductButton()"
            [disabled]="!isValid"></button>
          <button
            pButton
            pRipple
            label="Regresar"
            icon="pi pi-arrow-left"
            severity="help"
            class="btn-menu-back w-9rem"
            size="small"
            [routerLink]="['/inventories/products']"></button>
        </div>
      </div>
      <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
          <app-input-select
            placeholder="Seleccione genero"
            label="Genero"
            controlName="genderId"
            for="gender"
            [options]="genders"
            id="gender"
            optionLabel="description"
            optionValue="id"></app-input-select>
        </div>
        <div class="field col-12 md:col-8">
          <app-input-text
            placeholder="Ingrese nombre"
            label="Nombre"
            controlName="name"></app-input-text>
        </div>
      </div>
    </div>
  </form>
}
<p-toast />
