::ng-deep {
  /* Diálogo del Formulario */
  .dialog-custom-form {
    /* Desktop: 30% pero NUNCA menos de 400px para que quepa el calendario de PrimeNG */
    width: 30% !important;
    min-width: 400px !important;

    max-width: 95vw !important;
    height: auto !important;
    /* Importante: para que el dropdown no se corte si el dialog es pequeño */
    overflow-y: visible !important;
  }

  /* Diálogo de Asignar (más pequeño) */
  .dialog-custom-assign {
    width: 20% !important;
    min-width: 320px !important; /* Mínimo seguro */
  }

  /* Tablet (iPad vertical / Horizontal) */
  @media (max-width: 1024px) {
    .dialog-custom-form {
      width: 60% !important;
      min-width: unset !important;
    }
    .dialog-custom-assign {
      width: 50% !important;
    }
  }

  /* Celular */
  @media (max-width: 480px) {
    .dialog-custom-form,
    .dialog-custom-assign {
      width: 95% !important;
      min-width: unset !important;
    }
  }
}
