.discount-label {
  font-size: 10px;
  font-weight: 500;
  color: #6B6B6B;
}

.btn-menu {
  background-color: #dfe3e8;
  border: 1px solid #dfe3e8;
  color: #475569;
  border-radius: 5px;
  height: 39px;
}
.btn-menu-back {
  background-color: #ffb340;
  border: 1px solid #ffb340;
  color: #000;
  border-radius: 5px;
  height: 39px;
}
