::ng-deep {
  .dialog-custom-form {
    width: 30% !important;
    height: 55rem !important;
  }

  .dialog-custom-assign {
    width: 15% !important;
    height: 35rem !important;
  }

  @media (max-width: 480px) {
    .dialog-custom-form {
      width: 70% !important;
      height: 35rem !important;
    }

    .dialog-custom-assign {
      width: 70% !important;
      height: 35rem !important;
    }
  }
}
